.cardContainer {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr 5fr;
  grid-template-rows: 7fr;
  padding: 1rem;
  column-gap: 2.5vmin;
  row-gap: 2.5vmin;
  width: auto;
  background-color: transparent;
}

/* @media (max-width: 899px) and (orientation: landscape) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) and (orientation: landscape) {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .cardContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1600px) and (orientation: landscape) {
  .cardContainer {
    grid-template-columns: repeat(6, 1fr);
  }
} */

@media (orientation: portrait) {
  .cardContainer {
    justify-items: center;
    column-gap: auto;
    row-gap: auto;
  }
}
