.attributes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
}

.cardsForm {
  aspect-ratio: 5/7;
  background-color: rgb(60, 60, 60);
  border-radius: 15px;
  box-shadow: 0px 0px 3px 1px rgba(60, 60, 60, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  padding: 2.5vmin;
  position: relative;
  width: auto;
}

/* .cardsFormContainer {
  aspect-ratio: 5/7;
  background-color: rgb(60, 60, 60);
  border-radius: 15px;
  box-shadow: 0px 0px 3px 1px rgba(60, 60, 60, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  position: relative;
  width: auto;
  padding: 5vmin;
} */

.cardsFormMain {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.cardsFormTitle {
  padding: 0;
}

.cardNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardNameInput {
  border: none;
  border-radius: 15px;
  resize: none;
  width: 100%;
}

.cardNameInput:focus {
  box-shadow: 0 0 4px paleturquoise;
  outline: 1px solid lightskyblue;
}

.cardNameInput:hover {
  box-shadow: 0 0 5px 1px lightblue;
}

.modalPlacementHelper {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 1279px) and (orientation: landscape) {
  .cardsForm {
  }
  .attributeRow,
  .attributeRow2 {
  }
  .cardNameInput {
    font-size: 2vh;
    height: 2.5vh;
    margin: 0 0.5rem 0 0;
  }
}

@media (min-width: 1280) and (orientation: landscape) {
  .cardsForm {
  }
}

@media (min-width: 1366) and (orientation: landscape) {
  .cardsForm {
  }
}

@media (min-width: 1600) and (orientation: landscape) {
  .cardsForm {
    font-size: 0.75vw;
  }
}

@media (min-width: 1920) and (orientation: landscape) {
  .cardsForm {
    font-size: 0.75vw;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .attributes {
    height: fit-content;
    width: fit-content;
  }
  .cardsForm {
    width: fit-content;
  }
  .cardsFormMain {
  }
  .cardNameContainer {
  }
  .cardNameInput {
  }
}

@media (min-width: 801px) and (orientation: portrait) {
  .attributes {
    height: fit-content;
    width: fit-content;
  }
  .cardsForm {
    width: fit-content;
  }
  .cardsFormMain {
  }
  .cardNameContainer {
  }
  .cardNameInput {
  }
}
