.card {
  position: relative;
  /* border: 1px white solid; */
  border-radius: 15px;
  padding: 1rem 1rem 0 1rem;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.25);
  /* height: 25vh; */
  font-size: 1.5vw;
  min-height: 15rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(2vh + 1rem);
  padding: 0 0 0.5rem 0;
  border-bottom: 1px white solid;
}

.cardTitle {
  padding: 0;
  margin: 0 0.5rem 0 0;
}

.card::-webkit-scrollbar {
  width: 0.35rem;
}
.card::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
}
.card::-webkit-scrollbar-thumb {
  width: 0.5rem;
  height: 0.5rem;
  background-color: green;
  border-radius: 15px;
  outline: 1px solid black;
  background: rgba(0, 0, 0, 0.25);
}

.modalPlacementHelper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.cardInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 0 0;
  height: calc(100% - 4rem);
}

.attributeRow {
  display: flex;
  justify-content: center;
}

.attributeRow2 {
  display: flex;
  justify-content: space-evenly;
}

.attributeRow,
.attributeRow2 {
  height: 30%;
  width: 100%;
}

/* .attributeRow > li,
.attributeRow2 > li {
  margin: 0 0.2rem;
  font-size: 1vw;
} */

.cardButtonContainer__One {
  padding: 0;
}

@media (max-width: 799px) and (orientation: landscape) {
  .card {
    min-height: 32vh;
  }
  .cardTitle {
    font-size: 2.5vw;
  }
  .attributeRow > li,
  .attributeRow2 > li {
    margin: 0 0.2rem;
    font-size: 2vw;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  .card {
    min-height: 32vh;
  }
  .cardTitle {
    font-size: 1.75vw;
  }
  .attributeRow > li,
  .attributeRow2 > li {
    margin: 0 0.2rem;
    font-size: 1.5vw;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .card {
    min-height: 32vh;
  }
  .cardTitle {
    font-size: 1.5vw;
  }
  .attributeRow > li,
  .attributeRow2 > li {
    margin: 0 0.2rem;
    font-size: 1.25vw;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .card {
    min-height: 32vh;
  }
  .cardTitle {
    font-size: 1.25vw;
  }
  .attributeRow > li,
  .attributeRow2 > li {
    margin: 0 0.2rem;
    font-size: 1vw;
  }
}

@media (min-width: 1600px) and (orientation: landscape) {
  .card {
    min-height: 24vh;
  }
  .cardTitle {
    font-size: 1.25vw;
  }
  .attributeRow > li,
  .attributeRow2 > li {
    margin: 0 0.2rem;
    font-size: 1vw;
  }
}

@media (min-width: 1920px) and (orientation: landscape) {
  .card {
    min-height: 24vh;
  }
  .cardTitle {
    font-size: 1.25vw;
  }
  .attributeRow > li,
  .attributeRow2 > li {
    margin: 0 0.2rem;
    font-size: 1vw;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .card {
    min-height: 48vh;
    font-size: 2.5vh;
    margin: 0;
  }
  .cardHeader {
    height: calc(5vh + 1rem);
  }
  .cardTitle {
    font-size: 3vh;
  }
}

@media (min-width: 801px) and (orientation: portrait) {
  .card {
    min-height: 48vh;
    font-size: 2.5vh;
    margin: 0;
  }
  .cardHeader {
    height: calc(5vh + 1rem);
  }
  .cardTitle {
    font-size: 3vh;
  }
}
