.attributes {
  column-gap: 2vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2vmin;
  text-align: center;
}

.cardsForm {
  aspect-ratio: 5/7;
  background-color: rgb(60, 60, 60);
  border-radius: 15px;
  box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2.5vmin;
  position: relative;
  width: auto;
}

/* .cardsFormContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
} */

.cardsFormMain {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.cardsFormTitle {
  padding: 0;
}

.cardNameContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.cardNameInput {
  border: none;
  border-radius: 15px;
  margin: 0 0.5rem 0 0;
  resize: none;
  width: 100%;
}

.cardNameInput:focus {
  box-shadow: 0 0 4px paleturquoise;
  outline: 1px solid lightskyblue;
}

.cardNameInput:hover {
  box-shadow: 0 0 5px 1px lightblue;
}

.modalPlacementHelper {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

@media (orientation: portrait) {
  .attributes {
    height: fit-content;
    width: fit-content;
  }
  .cardsForm {
    width: fit-content;
  }
}
