.attributeGrid {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  text-align: center;
}

.attributeGrid > li {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.attributeGrid > li > label {
  font-weight: bold;
}

.card {
  aspect-ratio: 5/7;
  background-color: rgb(60, 60, 60);
  background-image: url(https://media.istockphoto.com/id/165102644/photo/old-paper.jpg?s=612x612&w=0&k=20&c=W9yT9C4BqkrknYgR0nqK5L790p-9bj762fpGq3mmMo0=);
  border-radius: 1rem;
  box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  width: auto;
}

.cardButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
}

.cardTitle {
  text-align: center;
  box-sizing: border-box;
  height: auto;
  padding: 0;
}

.modalPlacementHelper {
  border-radius: 1rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 800px) and (orientation: portrait) {
  .card {
  }
  .cardHeader {
  }
  .cardTitle {
  }
}

@media (min-width: 801px) and (orientation: portrait) {
  .card {
  }
  .cardHeader {
  }
  .cardTitle {
  }
}
