.headerMain {
  align-items: center;
  background-color: rgb(60, 60, 60);
  background-image: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),
    url("https://cdn2.vectorstock.com/i/1000x1000/03/56/hexagon-seamless-pattern-vector-7890356.jpg");
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  object-fit: cover;
  padding: 1rem;
  width: 100vw;
}

.headerTitle {
  padding: 1rem 0 1rem 1rem;
  text-align: center;
}

.navContainer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.navButton {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5vw;
  color: white;
  display: flex;
  justify-content: center;
  margin: 1rem;
  text-decoration: none;
  width: fit-content;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.navButton__selected {
  align-items: center;
  background: teal;
  border: none;
  border-radius: 5vw;
  color: white;
  display: flex;
  justify-content: center;
  margin: 1vw;
  text-decoration: none;
  width: fit-content;
}

.navButton__selected:hover {
  background-color: rgba(0, 128, 128, 0.8);
  cursor: default;
}

.navButton:hover,
.navButton__selected:hover {
  transition: all 150ms ease-in;
}

.text {
  border-radius: 5vw;
  padding: 2vw;
}

.titleButton {
  margin: 0 0.2rem;
  text-decoration: none;
}

.titleButton:hover {
  border-radius: 5vw;
  cursor: pointer;
}

.titleButton__selected {
  align-items: center;
  background: teal;
  border: none;
  border-radius: 5vw;
  color: white;
  display: flex;
  justify-content: center;
  margin: 1vmin;
  text-decoration: none;
}

.titleButton__selected:hover {
  background-color: rgba(0, 128, 128, 0.8);
  cursor: default;
}

@media (max-width: 1000px) and (orientation: portrait) {
  .headerMain {
    border: none;
  }
  .navContainer {
    height: 4vh;
  }
}
