.headerMain {
  align-items: center;
  background-color: rgb(60, 60, 60);
  border-bottom: 1px white solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.headerTitle {
  padding: 2vmin 0 2vmin 2vmin;
  text-align: center;
}

.navContainer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0 3vmin;
}

.titleButton {
  margin: 0 0.2rem;
  text-decoration: none;
}

.titleButton:hover {
  border-radius: 15px;
  cursor: pointer;
}

.titleButton__selected {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0 0.2rem;
  text-decoration: none;
}

.titleButton__selected:hover {
  cursor: default;
}

.navButton {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 15px;
  color: white;
  display: flex;
  height: 3vmin;
  justify-content: center;
  margin: 0 0.5vmin;
  padding: 2vmin;
  text-decoration: none;
  width: fit-content;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.navButton__selected {
  align-items: center;
  background: teal;
  color: white;
  border: none;
  border-radius: 15px;
  display: flex;
  height: 3vmin;
  justify-content: center;
  margin: 0 0.5vmin;
  padding: 2vmin;
  text-decoration: none;
  width: fit-content;
}

.navButton__selected:hover {
  background-color: rgba(0, 128, 128, 0.8);
  cursor: default;
}

.navButton:hover,
.navButton__selected:hover {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.35);
  transition: all 150ms ease-in;
}

/* @media (min-width: 1280px) and (orientation: landscape) {
  .navButton {
    font-size: medium;
  }
} */

/* @media (min-width: 1281px) and (orientation: landscape) {
  .navButton {
    font-size: medium;
  }
} */

/* @media (min-width: 1367px) and (orientation: landscape) {
  .navButton {
    font-size: large;
  }
} */

/* @media (min-width: 1601px) and (orientation: landscape) {
  .navButton {
    font-size: x-large;
  }
} */

/* @media (min-width: 1921px) and (orientation: landscape) {
  .navButton {
    font-size: xx-large;
  }
} */

@media (max-width: 799px) and (orientation: portrait) {
  .headerMain {
    border: none;
    padding: 0;
  }
  .navContainer {
    height: 8vh;
    padding: 0;
  }
  .navButton {
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 0 1rem 0 1rem;
    width: fit-content;
  }
  .navButton__selected {
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 0 1rem 0 1rem;
    width: fit-content;
  }
}

@media (min-width: 800px) and (orientation: portrait) {
  .headerMain {
    border: none;
    padding: 0;
  }
  .navContainer {
    height: 8vh;
    padding: 0.2rem 0;
  }
  .navButton {
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 0 1rem 0 1rem;
    width: fit-content;
  }
  .navButton__selected {
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 0 1rem 0 1rem;
    width: fit-content;
  }
}
