.headerMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.25);
  border-bottom: 1px white solid;
  margin: 0;
}

.headerTitle {
  text-align: center;
  padding: 0;
  margin: 0.5rem;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.2rem;
  width: 100%;
}

.titleButton {
  display: flex;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  background: transparent;
  color: white;
  align-items: center;
  justify-content: center;
}

.navButton {
  display: flex;
  text-decoration: none;
  padding: 0.2rem;
  margin: 0.2rem;
  height: 2.5rem;
  width: 4.2rem;
  border: none;
  border-radius: 15px;
  background: transparent;
  color: white;
  align-items: center;
  justify-content: center;
}

.navButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 350ms;
}

.navButton__selected {
  display: flex;
  text-decoration: none;
  padding: 0.2rem;
  margin: 0.2rem;
  height: 2.5rem;
  width: 4.2rem;
  border: none;
  border-radius: 15px;
  background: teal;
  color: white;
  align-items: center;
  justify-content: center;
}

.navButton__selected:hover {
  cursor: default;
}

@media (min-width: 1280px) and (orientation: landscape) {
  .navButton {
    font-size: medium;
  }
}

@media (min-width: 1281px) and (orientation: landscape) {
  .navButton {
    font-size: medium;
  }
}

@media (min-width: 1367px) and (orientation: landscape) {
  .navButton {
    font-size: large;
  }
}

@media (min-width: 1601px) and (orientation: landscape) {
  .navButton {
    font-size: x-large;
  }
}

@media (min-width: 1921px) and (orientation: landscape) {
  .navButton {
    font-size: xx-large;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .headerMain {
    padding: 0;
  }
  .navContainer {
    padding: 0;
    height: 5rem;
  }
  .navButton {
    font-size: large;
    width: 2.5rem;
    height: 100%;
    border-radius: 0;
    border: 1px solid white;
    padding: 0 1rem 0 1rem;
    margin: 0;
  }
  .navButton__selected {
    font-size: large;
    width: 2.5rem;
    height: 100%;
    border-radius: 0;
    padding: 0 1rem 0 1rem;
    margin: 0;
    border: 1px solid palegoldenrod;
  }
}

@media (min-width: 801px) and (orientation: portrait) {
  .headerMain {
    padding: 0;
  }
  .navContainer {
    padding: 0;
    height: 5rem;
  }
  .navButton {
    font-size: large;
    width: 2.5rem;
    height: 100%;
    border-radius: 0;
    border: 1px solid white;
    padding: 0 1rem 0 1rem;
    margin: 0;
  }
  .navButton__selected {
    font-size: large;
    width: 2.5rem;
    height: 100%;
    border-radius: 0;
    padding: 0 1rem 0 1rem;
    margin: 0;
    border: 1px solid palegoldenrod;
  }
}
