.modalPlacementHelper {
  border-radius: 15px;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.note {
  aspect-ratio: 5/3;
  background-color: rgb(60, 60, 60);
  border-radius: 15px;
  box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  padding: 2.5vmin;
  position: relative;
  overflow-y: auto;
}

.noteHeader {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  padding: 0 0 2.5vmin 0;
}

.noteMain {
  white-space: pre-line;
  width: fit-content;
  padding: 0;
}

.noteHeader > section {
  margin: 0;
  padding: 0;
}

@media (max-width: 900px) and (orientation: landscape) {
  .noteHeader > section {
  }
  .noteMain {
  }
}

@media (min-width: 901px) and (orientation: landscape) {
  .noteHeader {
  }
  .noteMain {
  }
}

@media (min-width: 1281px) and (orientation: landscape) {
  .noteHeader {
  }
  .noteMain {
  }
}

@media (min-width: 1367px) and (orientation: landscape) {
  .noteHeader {
  }
  .noteMain {
  }
}

@media (min-width: 1601px) and (orientation: landscape) {
  .noteHeader {
  }
  .noteMain {
  }
}

@media (min-width: 1921px) and (orientation: landscape) {
  .noteHeader {
  }
  .noteMain {
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .noteHeader {
  }
  .noteHeader > section {
  }
  .noteMain {
  }
  button {
  }
}

@media (min-width: 801px) and (orientation: portrait) {
  .noteHeader {
  }
  .noteHeader > section {
  }
  .noteMain {
    height: 12vh;
  }
  button {
  }
}
