.notesContainer {
  background-color: transparent;
  column-gap: 2.5vmin;
  display: grid;
  padding: 1rem;
  row-gap: 2.5vmin;
  width: auto;
}

@media (max-width: 900px) and (orientation: landscape) {
  .notesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 901px) and (orientation: landscape) {
  .notesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1281px) and (orientation: landscape) {
  .notesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1367px) and (orientation: landscape) {
  .notesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1601px) and (orientation: landscape) {
  .notesContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .notesContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 2.5vmin;
    row-gap: 2.5vmin;
    padding: 2rem;
  }
}

@media (min-width: 801px) and (orientation: portrait) {
  .notesContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2.5vmin;
    row-gap: 2.5vmin;
    padding: 2rem;
  }
}
