.notesContainer {
  background-color: transparent;
  column-gap: 1rem;
  display: grid;
  padding: 1rem;
  row-gap: 1rem;
  width: 100%;
}

@media only screen and (orientation: landscape) and (max-width: 800px) {
  .notesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (orientation: landscape) and (min-width: 800px) {
  .notesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (orientation: landscape) and (min-width: 1920px) {
  .notesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (orientation: portrait) {
  .notesContainer {
    grid-template-columns: 1fr;
  }
}
