.notesForm {
  aspect-ratio: 5/3;
  background-color: rgb(60, 60, 60);
  border-radius: 15px;
  box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  padding: 2.5vmin;
  position: relative;
  width: auto;
}

.notesForm > div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notesBodyInput {
  border-radius: 15px;
  box-sizing: border-box;
  /* font-size: 1.25vw; */
  height: 100%;
  margin: 2.5vmin 0 0 0;
  padding: 0.5rem;
  resize: none;
  width: 100%;
}

.notesTitleInput {
  border-radius: 15px;
  box-sizing: border-box;
  /* font-size: 1.25vw; */
  padding: 0.5rem;
  resize: none;
  width: 100%;
}

.notesTitleInput:focus,
.notesBodyInput:focus {
  outline: 1px solid lightskyblue;
  box-shadow: 0 0 4px paleturquoise;
}

.notesTitleInput:hover,
.notesBodyInput:hover {
  box-shadow: 0 0 5px 1px lightblue;
}

.notesSubmitButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem 0 0;
}

@media (max-width: 900px) and (orientation: landscape) {
  .notesTitleInput {
    /* font-size: 1.25vw; */
  }
  .notesBodyInput {
    /* font-size: 1.25vw; */
  }
}

@media (min-width: 901px) and (orientation: landscape) {
  .notesTitleInput {
    /* font-size: 1.25vw; */
  }
  .notesBodyInput {
    /* font-size: 1.25vw; */
  }
}

@media (min-width: 1281px) and (orientation: landscape) {
  .notesTitleInput {
    /* font-size: 1.25vw; */
  }
  .notesBodyInput {
    /* font-size: 1.25vw; */
    height: 100%;
  }
}

@media (min-width: 1367px) and (orientation: landscape) {
  .notesTitleInput {
    /* font-size: 1.25vw; */
    height: 3vh;
  }
  .notesBodyInput {
    /* font-size: 1.25vw; */
    height: 100%;
  }
}

@media (min-width: 1601px) and (orientation: landscape) {
  .notesTitleInput {
    /* font-size: 0.75vw; */
    height: 3vh;
  }
  .notesBodyInput {
    /* font-size: 0.75vw; */
    height: 100%;
  }
}

@media (min-width: 1921px) and (orientation: landscape) {
  .notesTitleInput {
    /* font-size: 0.75vw; */
    height: 3vh;
  }
  .notesBodyInput {
    /* font-size: 0.75vw; */
    height: 100%;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .notesForm {
    max-height: fit-content;
  }
  .notesTitleInput {
    /* font-size: 2.5vh; */
    height: 4vh;
  }
  .notesBodyInput {
    /* font-size: 2.5vh; */
    height: 12vh;
  }
}

@media (min-width: 801px) and (orientation: portrait) {
  .notesForm {
    max-height: fit-content;
  }
  .notesTitleContainer {
    margin-bottom: 1rem;
  }
  .notesTitleInput {
    /* font-size: 2.5vh; */
    height: 4vh;
  }
  .notesBodyInput {
    /* font-size: 2.5vh; */
    height: 12vh;
  }
}
