.notesForm {
  aspect-ratio: 5/3;
  background-color: rgb(60, 60, 60);
  background-image: url(https://media.istockphoto.com/id/165102644/photo/old-paper.jpg?s=612x612&w=0&k=20&c=W9yT9C4BqkrknYgR0nqK5L790p-9bj762fpGq3mmMo0=);
  border-radius: 15px;
  box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  padding: 1rem;
  position: relative;
  width: auto;
}

.notesForm > div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.noteTextInput {
  border: none;
  border-radius: 15px;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  resize: none;
  text-align: top;
  width: 100%;
}

.noteTextBodyInput {
  border: none;
  border-radius: 15px;
  height: 100%;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  resize: none;
  text-align: top;
  width: 100%;
}

.noteTextInput:focus {
  outline: 1px solid lightskyblue;
  box-shadow: 0 0 4px paleturquoise;
}

.noteTextInput:hover {
  box-shadow: 0 0 5px 1px lightblue;
}
