.signupCardContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.signupContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.signupForm {
  background-color: rgb(60, 60, 60);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;
  padding: 3rem;
  width: 40%;
}

.signupTextField {
  border: none;
  border-radius: 15px;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  resize: none;
  width: 100%;
}

.signupTextField:focus {
  outline: none;
  outline: 2px solid lightskyblue;
  box-shadow: 0 0 4px paleturquoise;
}

.text {
  color: inherit;
  /* font-size: calc(12px + 6 * ((100vw - 320px) / 680)); */
}

/* @media (max-width: 900px) and (orientation: landscape) {
  .loginTextContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .signupTextField {
    height: 1rem;
  }
}

@media (min-width: 901px) and (orientation: landscape) {
  .loginTextContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .signupTextField {
    height: 1rem;
  }
}

@media (min-width: 1281px) and (orientation: landscape) {
  .loginTextContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .signupTextField {
    height: 1rem;
  }
}

@media (min-width: 1367px) and (orientation: landscape) {
  .loginTextContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .signupTextField {
    height: 1rem;
  }
}

@media (min-width: 1601px) and (orientation: landscape) {
  .loginTextContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .signupTextField {
    height: 1rem;
  }
}

@media (min-width: 1921px) and (orientation: landscape) {
  .loginTextContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .signupTextField {
    height: 1rem;
  }
} */
