.align-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.centered {
  align-items: center;
  display: inline-block;
  justify-content: center;
  padding: 2vmin 0;
  text-align: center;
  width: calc(60% + 6vmin);
}

.contentMain {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 0 0;
  text-align: center;
  width: 100%;
}

.contentMainPlacementHelper {
  align-items: center;
  background-color: rgb(60, 60, 60);
  background-image: url(https://media.istockphoto.com/id/165102644/photo/old-paper.jpg?s=612x612&w=0&k=20&c=W9yT9C4BqkrknYgR0nqK5L790p-9bj762fpGq3mmMo0=);
  border-radius: 1rem;
  box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 2vmin 0;
  padding: 4vmin;
  text-align: center;
  width: calc(60% + 6vmin);
}

.deleteButton {
  cursor: pointer;
}

.deleteButton:hover {
  background-color: salmon;
  border: none;
  color: white;
  transform: scale(1.05);
}

.deleteButton__disabled {
  cursor: default;
}

.embeddedLink {
  color: teal;
  text-decoration: none;
}

.embeddedLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.embeddedLink:visited {
  color: teal;
}

.inputField {
  border-radius: 1rem;
  border: none;
  resize: none;
  text-align: center;
  width: 3.25rem;
}

.inputField:focus {
  box-shadow: 0 0 4px paleturquoise;
  outline: 1px solid lightskyblue;
}

.inputField:hover {
  box-shadow: 0 0 5px 1px lightblue;
}

.mainContent {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mainContents {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.mainContentsStandalone {
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
  width: 80%;
}

.response__invalid {
  color: lightcoral;
  margin: 0;
}

.response__isLoading {
  color: lightgray;
  margin: 0 0 0 1rem;
}

.submitButton {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5vmin;
  box-sizing: border-box;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  padding: 2vmin;
  width: max-content;
}

.submitButton:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.submitButton__disabled {
  cursor: default;
  padding: 2vmin;
}

.submitButtonContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 100%;
}

.submitButtonContainer2 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  padding: 0;
  width: 100%;
}

@media (orientation: portrait) {
  .centered {
    width: calc(80% + 8vmin);
  }
  .contentMain {
    width: calc(80% + 8vmin);
  }
  .contentMainPlacementHelper {
    width: calc(80% + 8vmin);
  }
}
