a:visited {
  color: white;
}

.align-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.contentMain {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 0 0;
  text-align: center;
}

.contentMainPlacementHelper {
  align-items: center;
  background-color: rgb(60, 60, 60);
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 2vmin 0;
  padding: 4vmin;
  text-align: center;
  width: calc(40% + 8vmin);
}

.centered {
  align-items: center;
  display: inline-block;
  justify-content: center;
  padding: 2vmin 0;
  text-align: center;
  width: calc(40% + 8vmin);
}

.deleteButton {
  cursor: pointer;
}

.deleteButton:hover {
  background-color: salmon;
  border: none;
  color: white;
  transform: scale(1.05);
}

.deleteButton__disabled {
  cursor: default;
}

.embeddedLink {
  color: teal;
  text-decoration: none;
}

.embeddedLink:visited {
  color: teal;
}

.embeddedLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.inputField {
  /* height: 4vmin; */
  border-radius: 15px;
  border: none;
  resize: none;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.inputField:focus {
  box-shadow: 0 0 4px paleturquoise;
  outline: 1px solid lightskyblue;
}

.inputField:hover {
  box-shadow: 0 0 5px 1px lightblue;
}

.mainContents {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.mainContentsStandalone {
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
  width: calc(40% + 8vmin);
}

.response__invalid {
  color: lightcoral;
  margin: 0;
}

.response__isLoading {
  color: lightgray;
  margin: 0 0 0 1rem;
}

.submitButton {
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  padding: 0;
  width: max-content;
}

.submitButton__disabled {
  cursor: default;
}

.submitButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1rem 0 0 0;
  padding: 0;
  width: 100%;
}

.submitButtonContainer2 {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  padding: 0;
  width: 100%;
}

/* @media (max-width: 1279px) and (orientation: landscape) {
  .inputField {
    width: 7vw;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .inputField {
    min-width: 6vw;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .inputField {
    min-width: 5vw;
  }
}

@media (min-width: 1600px) and (orientation: landscape) {
  .inputField {
    min-width: 4vw;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .inputField {
    height: 8vh;
    width: 22vw;
  }
  .contentMain {
    margin: 1rem 2rem;
  }
  .contentMainPlacementHelper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    margin: 1rem 2rem;
    width: auto;
  }
}

@media (min-width: 801px) and (orientation: portrait) {
  .inputField {
    height: 6vmin;
    width: 8vmin;
  }
  .contentMain {
    margin: 1rem 2rem;
  }
  .contentMainPlacementHelper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    margin: 1rem 2rem;
    width: auto;
  }
} */
