* {
  box-sizing: border-box;
  /* font-size: inherit; */
}

body,
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* background-color: rgb(80, 80, 80); */
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-size: 2vmin; */
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

article {
  padding-bottom: 1rem;
}

button {
  background-color: transparent;
  border: none;
  height: fit-content;
  margin: 0 0 0 1vmin;
  outline: none;
  padding: 0.5vmin;
  width: fit-content;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 150ms ease-in;
}

button:disabled:hover {
  background-color: transparent;
}

h3 {
  font-size: calc(24px + 6 * ((100vw - 320px) / 680));
  margin: 0;
  padding: 0;
}

h5 {
  font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  padding: 0;
  margin: 0;
}

input {
  font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  /* padding: 1vmin 0; */
  padding: 0.75vmin 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: calc(12px + 6 * ((100vw - 320px) / 680));
  line-height: calc(12px + 6 * ((100vw - 320px) / 680));
  opacity: 1;
}

input[type="text"] {
  height: calc(12px + 6 * ((100vw - 320px) / 680));
  padding: 20px 10px;
}

main {
  background: linear-gradient(to bottom right, rgb(80, 188, 255), pink, orange);
  min-height: 100vh;
}

textarea {
  font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  padding: 20px 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* icons start */
.material-icons.md-light {
  background-color: rgba(0, 0, 0, 0.075);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.3);
  cursor: default;
  margin: 0.25vmin;
  padding: 0.5vmin;
}
.material-icons.md-light.selected {
  background-color: teal;
}
.material-icons.md-light.md-inactive {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.3);
  cursor: default;
  margin: 0.25vmin;
  padding: 0.25vmin;
}
.material-icons.md-light:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: all 150ms ease-in;
}
.material-icons.md-light.md-inactive:hover {
  background-color: transparent;
  box-shadow: 0 0 3px 1px salmon;
  color: rgba(255, 255, 255, 0.2);
  cursor: default;
}
.material-icons.md-light.delete:hover {
  color: salmon;
}
.material-icons.md-light.edit:hover {
  color: rgba(64, 100, 255, 1);
}
.material-icons.md-light.undo:hover {
  color: rgba(255, 200, 0, 1);
}
.material-icons.md-light.save:hover {
  color: rgba(0, 202, 125, 1);
}
/* icons end */

::placeholder,
::-webkit-input-placeholder {
  color: rgb(32, 32, 32);
}

::-webkit-scrollbar {
  width: 0.35rem;
}
::-webkit-scrollbar-track {
  background-color: rgb(16, 16, 16);
}
::-webkit-scrollbar-thumb {
  background: rgba(16, 16, 16);
  border-radius: 15px;
  height: 0.5rem;
  outline: 1px solid black;
  width: 0.5rem;
}

@media (max-width: 320px) and (orientation: portrait) {
  .material-icons.md-light {
    font-size: calc(28px + 6 * ((100vw - 320px) / 680));
  }
  .material-icons.md-light.md-inactive {
    font-size: calc(28px + 6 * ((100vw - 320px) / 680));
  }
}

@media (orientation: landscape) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }
  .material-icons.md-light {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
  .material-icons.md-light.md-inactive {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
